<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/reset.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
    <h1>Welcome!</h1>
    <ul>
        <li><a href="/hello">Get a greeting</a></li>
        <li><a href="/capitalize/stuff">Capitalize stuff</a></li>
        <li><a href="/reverse?param=reverse%20some%20text">Reverse some text</a></li>
        <li><a href="/albums">View Albums</a></li>
    </ul>

</body>
</html>