<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reverse</title>
    <link rel="stylesheet" type="text/css" href="/reset.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
    <h3><a href="/">Home</a></h3>
    <h1>Reversed text:</h1>
    <h3 style="color:rebeccapurple" th:text="${reverse}"></h3>
    <br/>
    <h3>Enter a "param" query parameter to reverse your text</h3>
    <h4>For example: <i>/reverse?param=Type your words here</i></h4>
</body>
</html>